<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183201675456-7jsdelgr3bm1h30q100frhmp4ud148j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183201675456-7jsdelgr3bm1h30q100frhmp4ud148j6</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ_cIJ5QglGykuXyXNayxBUw6tnOtSO7c</string>
	<key>GCM_SENDER_ID</key>
	<string>183201675456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirebaseTest.list</string>
	<key>PROJECT_ID</key>
	<string>logintest-f3815</string>
	<key>STORAGE_BUCKET</key>
	<string>logintest-f3815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183201675456:ios:b4fdf66cef037822c51525</string>
</dict>
</plist>